*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}
body{
    background-image: linear-gradient(120deg, #f7bd20, #ffc815);
    color: black;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;

}

.btn {
    color: black;
}

form{
    padding: 1rem;
    margin: auto;
    width: 70vh;
}

.buttons{
    display: flex;
    
    align-items: center;
    justify-content: space-evenly;
}

.but{
    padding: 0.25rem;
    border: none;
  
}

.expense-button,
.exp-a{
    border: none;
    background: transparent;
    color: black;
   
}
.expense-button{
    justify-content: center;
    align-items: center;
}
.b1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;    
}
